@{
    ViewBag.Title = "Classmates";
}

<div class="container-fluid" id="classmates">

    <section id="banner">
        <h2>David See</h2>
        <p>Full Stack Web Developer</p>
        <ul class="actions special">
            <li><a href="resume.html" class="button primary">Resume</a></li>
            <li><a href="https://www.linkedin.com/in/david-see/" class="button">Connect!</a></li>
        </ul>
    </section>

    <!-- Main Content -->
    <div class="container" id="main">
        <div class="box-alt" id="classmates">
            <div class="row">
                <div class="card col-md-4 ">
                    <img class="card-img-top" src="~/Content/images/dave-goudreau-n_oeImTH0qQ-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">John Swift</h5>
                        <a href="http://www.johndavidswift.com" class="btn btn-primary">More Info:</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="card col-md-4">
                    <img class="card-img-top" src="~/Content/images/Tessa.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tessa Toney</h5>
                        <a href="http://www.tessatoney.com" class="btn btn-primary">More Info:</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-md-4">
                    <img class="card-img-top" src="~/Content/images/John.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Spencer Pearson</h5>
                        <a href="http://www.spencerpearson.net" class="btn btn-primary">More Info:</a>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="card col-md-4">
                    <img class="card-img-top" src="~/Content/images/dave-goudreau-n_oeImTH0qQ-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Michael Bell</h5>
                        <a href="http://www.mbelldevelops.com" class="btn btn-primary">More Info:</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


