@{
    ViewBag.Title = "David See | Resume";
}

<div class="container-fluid" id="resume">

    <section id="banner">
        <h2>My Resume</h2>
        <ul class="actions special">
            <li><a href="https://www.linkedin.com/in/david-see/" class="button">Connect!</a></li>
        </ul>
    </section>

    <!-- Main Content -->
    <div class="container-fluid col-md-8 mx-auto" id="main">
        <div class="box special" id="classmates">
            <div id="page-wrap">
                <div id="contact-info" class="vcard">

                    <!-- Microformats! -->

                    <h1 class="fn">David See</h1>

                    <p>
                        Cell: <a href="tel:706-580-8545">706-580-8545</a><br />
                        Email: <a href="mailto:engr317@gmail.com">ENGR317@GMAIL.COM</a><br />
                        Resum&eacute; PDF: <a href="#" target="_blank">My Resume</a>
                    </p>
                </div>

                <div id="objective">
                    <p>
                        I am an mild tempered, energetic professional, seeking a
                        career that fits my professional skills, personality, and passions.
                    </p>
                </div>

                <div class="clearfix"></div>

                <dl>
                    <dd class="clearfix"></dd>

                    <dt>Education and Training</dt>
                    <dd>
                        <h2><a href="http://www.centriq.com" style="text-decoration:none;">Centriq</a></h2>
                        <p>
                            <strong>Education:</strong> Full Stack Web Developer
                        </p>
                        <h2><a href="http://www.liberty.edu">Liberty University</a></h2>
                        <p><strong>Major:</strong> Information Systems (currently attending)</p>
                    </dd>

                    <dd class="clearfix"></dd>

                    <dt>Skills</dt>
                    <dd>
                        <h2><strong>Programming Skills</strong></h2>
                        <p>C# and .NET Framework, ADO.NET, SQL, SQLMS, MVC Design Pattern, JavaScript, HTML5, CSS3, ReactJS</p>

                        <h2><strong>Workplace Skills</strong></h2>
                        <p>
                            Customer Service, Interdepartmental Communication, Troubleshooting, Preventative Maintenance, Time Management,
                            Creative Thinking, Teamwork, Dependability, Critical Thinker
                        </p>
                    </dd>

                    <dd class="clearfix"></dd>

                    <dt>Experience</dt>
                    <dd>
                        <h2><strong>U.S Army Corps Of Engineers</strong><span>Operations Supervisor August 2017 - April 2020</span></h2>
                        <ul>

                            <li>
                                Supervise operations and construction of Garrison facilities
                            </li>
                            <li>
                                Prepare daily reports of activities of contractor representatives
                            </li>
                            <li>
                                Responsible for improving, the realism, of Fort Irwin Training Center through construction projects valued in excess of $11M
                            </li>

                        </ul>
                        <h2><strong>United States Army</strong><span>Department Supervisor January 2010 - July 2017</span></h2>
                        <ul>
                            <li>
                                Plan, prepare, and execute company operations along with its two subordinate companies
                            </li>
                            <li>
                                Responsible for the combat readiness, training, maintenance, and welfare and discipline of unit personnel
                            </li>
                            <li>
                                Served as the Senior Engineer Advisor to the company President
                            </li>
                        </ul>

                    </dd>

                    <dd class="clearfix"></dd>

                    <dt>Hobbies</dt>
                    <dd> <strong>Building and Maintaining Computer Systems</strong></dd>
                    <dd> <strong>Playing Videogames with my kids</strong></dd>
                    <dd> <strong>Coding Web Applications</strong></dd>

                    <dd class="clearfix"></dd>
                </dl>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>

</div>

